<footer class="text-center">
    <p><a href="/about">About</a> | <a href="https://github.com/openstatute">GitHub</a>. Built with <span class="text-error">♥</span> by <a href="https://quang.im" target="_blank">Quang Lam</a>.</p>
</footer>

<% include ./foot %>