<% include ./partials/header %>

<div class="container grid-lg">
    <ul class="breadcrumb">
        <li class="breadcrumb-item">
        <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item">
        <a href="#">About</a>
        </li>
    </ul>
</div>

<% include ./partials/footer %>
