<% include ./partials/head %>

<div class="empty error">
    <div class="empty-icon">
        <i class="icon icon-3x icon-stop"></i>
    </div>
    <h1 class="empty-title h1"><%= status %></h1>
    <p class="empty-subtitle h4"><%= message %></p>
    <div class="empty-action">
        <a class="btn btn-primary" href="/">Go to Home Page</a>
    </div>
</div>

<% include ./partials/foot %>