<footer class="usa-footer usa-footer-medium" role="contentinfo">
    <div class="usa-grid usa-footer-return-to-top">
        <a href="#">Return to top</a>
    </div>
    <div class="usa-footer-secondary_section" id="contact">
        <div class="usa-grid">
        <div class="footer-content">
            <div>
            <h3>Become part of the community</h3>
            <p>OpenStatute is an independent initiative which aims to make the law accessible to every citizen. And we need your helps!</p>
            </div>
            <div class="usa-grid-full footer-contact-links">
            <div class="usa-width-one-third">
                <div class="usa-media_block">
                <img class="usa-media_block-img" src="/static/img/icon-question.svg" alt="">
                <div class="usa-media_block-body">
                    <h4>Running into an issue?</h4>
                    <a href="https://github.com/openstatute/openstatute.org/issues/new">
                    Ask questions on GitHub
                    </a>
                </div>
                </div>
            </div>
            <div class="usa-width-one-third">
                <div class="usa-media_block">
                <img class="usa-media_block-img" src="/static/img/icon-envelope.svg" alt="">
                <div class="usa-media_block-body">
                    <h4>Reach the team</h4>
                    <a href="mailto:quang.lam2807@gmail.com">
                    Send us an email
                    </a>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
    <div class="usa-footer-primary-section">
        <div class="usa-grid-full">
        <nav class="usa-footer-nav">
            <ul class="usa-unstyled-list">
            <li class="usa-width-one-fourth usa-footer-primary-content">
                <a class="usa-footer-primary-link" href="/about">About</a>
            </li>
            <li class="usa-width-one-fourth usa-footer-primary-content">
                <a class="usa-footer-primary-link" href="https://github.com/openstatute">GitHub</a>
            </li>
            </ul>
        </nav>
        </div>
    </div>
</footer>
<% include ./foot %>